In [1]:
import pandas as pd

In [26]:
#Read summar and movie production company information

df_Summary = pd.read_csv("/home/youdan/Documents/Practicum/data/movie_summary.csv")
df_movie_ProductionComapny = pd.read_csv("/home/youdan/Documents/Practicum/data/movie_production_companies.csv")

In [29]:
#delet useless columns of movie production company information
df_movie_ProductionComapny = df_movie_ProductionComapny.drop('display_name', axis = 1)

In [40]:
#Merge summary with movie production company information

df_Summary_1 = df_Summary.merge(df_movie_ProductionComapny, on = 'odid', how = 'left')

In [41]:
df_Summary_1.shape

(23821, 24)

In [42]:
df_Summary_1.head()

,odid,display_name,od_name,production_year,running_time,sequel,distributor,opening_weekend_revenue,opening_weekend_theaters,maximum_theaters,...,domestic_bluray_spending,creative_type,source,production_method,genre,production_budget,domestic_box_office,international_box_office,inflation_adjusted_domestic_box_office,production_company
0,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,NaN,Historical Fiction,Original Screenplay,Live Action,Thriller/Suspense,200000000,658672302.0,1.548943e+09,1.147349e+09,20th Century Fox
1,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,NaN,Historical Fiction,Original Screenplay,Live Action,Thriller/Suspense,200000000,658672302.0,1.548943e+09,1.147349e+09,Paramount Pictures
2,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,NaN,Historical Fiction,Original Screenplay,Live Action,Thriller/Suspense,200000000,658672302.0,1.548943e+09,1.147349e+09,Lightstorm Entertainment
3,20100,The Dark Knight,Dark Knight The,2008,152.0,1.0,Warner Bros.,158411483,4366,4366,...,33598926.0,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,185000000,533345358.0,4.695460e+08,6.260806e+08,Legendary Pictures
4,20100,The Dark Knight,Dark Knight The,2008,152.0,1.0,Warner Bros.,158411483,4366,4366,...,33598926.0,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,185000000,533345358.0,4.695460e+08,6.260806e+08,Warner Bros.

In [71]:
#Read movie rating
df_MovieRatings = pd.read_csv("/home/youdan/Documents/Practicum/data/movie_ratings.csv")

In [72]:
#Drop useless column
df_MovieRatings = df_MovieRatings.drop(['reason','odid'], axis = 1)

In [73]:
df_MovieRatings.head()

                   display_name rating
0                       Titanic  PG-13
1               The Dark Knight  PG-13
2  Star Wars Ep. IV: A New Hope     PG
3                       Shrek 2     PG
4     ET: The Extra-Terrestrial     PG

In [74]:
#Merge summary with ratings
df_Summary_2 = df_Summary_1.merge(df_MovieRatings, on = 'display_name', how = 'left')

In [75]:
df_Summary_2.shape

(24538, 25)

In [76]:
df_Summary_2.head()

,odid,display_name,od_name,production_year,running_time,sequel,distributor,opening_weekend_revenue,opening_weekend_theaters,maximum_theaters,...,creative_type,source,production_method,genre,production_budget,domestic_box_office,international_box_office,inflation_adjusted_domestic_box_office,production_company,rating
0,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,Historical Fiction,Original Screenplay,Live Action,Thriller/Suspense,200000000,658672302.0,1.548943e+09,1.147349e+09,20th Century Fox,PG-13
1,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,Historical Fiction,Original Screenplay,Live Action,Thriller/Suspense,200000000,658672302.0,1.548943e+09,1.147349e+09,Paramount Pictures,PG-13
2,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,Historical Fiction,Original Screenplay,Live Action,Thriller/Suspense,200000000,658672302.0,1.548943e+09,1.147349e+09,Lightstorm Entertainment,PG-13
3,20100,The Dark Knight,Dark Knight The,2008,152.0,1.0,Warner Bros.,158411483,4366,4366,...,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,185000000,533345358.0,4.695460e+08,6.260806e+08,Legendary Pictures,PG-13
4,20100,The Dark Knight,Dark Knight The,2008,152.0,1.0,Warner Bros.,158411483,4366,4366,...,Super Hero,Based on Comic/Graphic Novel,Live Action,Action,185000000,533345358.0,4.695460e+08,6.260806e+08,Warner Bros.,PG-13

In [134]:
df_ActingCredits = pd.read_csv("/home/youdan/Documents/Practicum/data/acting_credits.csv")

In [135]:
df_ActingCredits.head()

,odid,display_name,billing,person,character,type
0,10100,Titanic,1.0,Leonardo DiCaprio,Jack Dawson,Leading
1,10100,Titanic,2.0,Kate Winslet,Rose DeWitt Bukater,Leading
2,10100,Titanic,3.0,Billy Zane,Cal Hockley,Supporting
3,10100,Titanic,4.0,Kathy Bates,Molly Brown,Supporting
4,10100,Titanic,5.0,Frances Fisher,Ruth DeWitt Bukater,Supporting

In [136]:
df_ActingCredits = df_ActingCredits.loc[df_ActingCredits['billing'].isin([1.0])]

In [137]:
df_ActingCredits.head()

,odid,display_name,billing,person,character,type
0,10100,Titanic,1.0,Leonardo DiCaprio,Jack Dawson,Leading
15,20100,The Dark Knight,1.0,Christian Bale,Bruce Wayne,Leading
112,30100,Star Wars Ep. IV: A New Hope,1.0,Mark Hamill,Luke Skywalker,Leading
138,40100,Shrek 2,1.0,Mike Myers,Shrek,Leading
151,50100,ET: The Extra-Terrestrial,1.0,Dee Wallace-Stone,Mary,Supporting

In [138]:
df_ActingCredits = df_ActingCredits.drop(['odid', 'billing', 'character','type'], axis = 1)

In [139]:
df_ActingCredits.head()

                     display_name             person
0                         Titanic  Leonardo DiCaprio
15                The Dark Knight     Christian Bale
112  Star Wars Ep. IV: A New Hope        Mark Hamill
138                       Shrek 2         Mike Myers
151     ET: The Extra-Terrestrial  Dee Wallace-Stone

In [140]:
df_Summary_3 = df_Summary_2.merge(df_ActingCredits, on = 'display_name', how = 'left')

In [141]:
df_Summary_3.head(10)

,odid,display_name,od_name,production_year,running_time,sequel,distributor,opening_weekend_revenue,opening_weekend_theaters,maximum_theaters,...,source,production_method,genre,production_budget,domestic_box_office,international_box_office,inflation_adjusted_domestic_box_office,production_company,rating,person
0,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,Original Screenplay,Live Action,Thriller/Suspense,200000000,658672302.0,1.548943e+09,1.147349e+09,20th Century Fox,PG-13,Leonardo DiCaprio
1,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,Original Screenplay,Live Action,Thriller/Suspense,200000000,658672302.0,1.548943e+09,1.147349e+09,Paramount Pictures,PG-13,Leonardo DiCaprio
2,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,Original Screenplay,Live Action,Thriller/Suspense,200000000,658672302.0,1.548943e+09,1.147349e+09,Lightstorm Entertainment,PG-13,Leonardo DiCaprio
3,20100,The Dark Knight,Dark Knight The,2008,152.0,1.0,Warner Bros.,158411483,4366,4366,...,Based on Comic/Graphic Novel,Live Action,Action,185000000,533345358.0,4.695460e+08,6.260806e+08,Legendary Pictures,PG-13,Christian Bale
4,20100,The Dark Knight,Dark Knight The,2008,152.0,1.0,Warner Bros.,158411483,4366,4366,...,Based on Comic/Graphic Novel,Live Action,Action,185000000,533345358.0,4.695460e+08,6.260806e+08,Warner Bros.,PG-13,Christian Bale
5,20100,The Dark Knight,Dark Knight The,2008,152.0,1.0,Warner Bros.,158411483,4366,4366,...,Based on Comic/Graphic Novel,Live Action,Action,185000000,533345358.0,4.695460e+08,6.260806e+08,Syncopy,PG-13,Christian Bale
6,30100,Star Wars Ep. IV: A New Hope,Star Wars Ep IV A New Hope,1977,119.0,0.0,20th Century Fox,1554475,43,2375,...,Original Screenplay,Live Action,Adventure,11000000,460998007.0,3.256000e+08,1.385312e+09,20th Century Fox,PG,Mark Hamill
7,40100,Shrek 2,Shrek 2,2004,92.0,1.0,Dreamworks SKG,108037878,4163,4223,...,Based on Fiction Book/Short Story,Digital Animation,Adventure,70000000,441226247.0,4.957819e+08,5.989593e+08,PDI,PG,Mike Myers
8,40100,Shrek 2,Shrek 2,2004,92.0,1.0,Dreamworks SKG,108037878,4163,4223,...,Based on Fiction Book/Short Story,Digital Animation,Adventure,70000000,441226247.0,4.957819e+08,5.989593e+08,DreamWorks Animation,PG,Mike Myers
9,40100,Shrek 2,Shrek 2,2004,92.0,1.0,Dreamworks SKG,108037878,4163,4223,...,Based on Fiction Book/Short Story,Digital Animation,Adventure,70000000,441226247.0,4.957819e+08,5.989593e+08,DreamWorks Pictures,PG,Mike Myers

In [142]:
df_TechnicalCredits = pd.read_csv("/home/youdan/Documents/Practicum/data/technical_credits.csv")

In [144]:
df_TechnicalCredits.head()

    odid display_name  billing         person                role
0  10100      Titanic        1  James Cameron            Director
1  10100      Titanic        2  James Cameron        Screenwriter
2  10100      Titanic        3  James Cameron            Producer
3  10100      Titanic        4     Jon Landau            Producer
4  10100      Titanic        5   Rae Sanchini  Executive Producer

In [145]:
df_TechnicalCredits = df_TechnicalCredits.drop(['odid'], axis = 1)

In [147]:
df_TechnicalCredits = df_TechnicalCredits.loc[df_TechnicalCredits['billing'].isin([1])]

In [148]:
df_Summary_4 = df_Summary_3.merge(df_TechnicalCredits, on = 'display_name', how = 'left')

In [149]:
df_Summary_4.head()

,odid,display_name,od_name,production_year,running_time,sequel,distributor,opening_weekend_revenue,opening_weekend_theaters,maximum_theaters,...,production_budget,domestic_box_office,international_box_office,inflation_adjusted_domestic_box_office,production_company,rating,person_x,billing,person_y,role
0,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,200000000,658672302.0,1.548943e+09,1.147349e+09,20th Century Fox,PG-13,Leonardo DiCaprio,1.0,James Cameron,Director
1,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,200000000,658672302.0,1.548943e+09,1.147349e+09,Paramount Pictures,PG-13,Leonardo DiCaprio,1.0,James Cameron,Director
2,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,200000000,658672302.0,1.548943e+09,1.147349e+09,Lightstorm Entertainment,PG-13,Leonardo DiCaprio,1.0,James Cameron,Director
3,20100,The Dark Knight,Dark Knight The,2008,152.0,1.0,Warner Bros.,158411483,4366,4366,...,185000000,533345358.0,4.695460e+08,6.260806e+08,Legendary Pictures,PG-13,Christian Bale,1.0,Christopher Nolan,Director
4,20100,The Dark Knight,Dark Knight The,2008,152.0,1.0,Warner Bros.,158411483,4366,4366,...,185000000,533345358.0,4.695460e+08,6.260806e+08,Warner Bros.,PG-13,Christian Bale,1.0,Christopher Nolan,Director

In [151]:
df_Summary_4 = df_Summary_4.rename(columns = {'person_x':'castperson','person_y':'technical_person' })

In [152]:
df_Summary_4.head()

,odid,display_name,od_name,production_year,running_time,sequel,distributor,opening_weekend_revenue,opening_weekend_theaters,maximum_theaters,...,production_budget,domestic_box_office,international_box_office,inflation_adjusted_domestic_box_office,production_company,rating,castperson,billing,technical_person,role
0,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,200000000,658672302.0,1.548943e+09,1.147349e+09,20th Century Fox,PG-13,Leonardo DiCaprio,1.0,James Cameron,Director
1,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,200000000,658672302.0,1.548943e+09,1.147349e+09,Paramount Pictures,PG-13,Leonardo DiCaprio,1.0,James Cameron,Director
2,10100,Titanic,Titanic,1997,194.0,0.0,Paramount Pictures,28638131,2674,3265,...,200000000,658672302.0,1.548943e+09,1.147349e+09,Lightstorm Entertainment,PG-13,Leonardo DiCaprio,1.0,James Cameron,Director
3,20100,The Dark Knight,Dark Knight The,2008,152.0,1.0,Warner Bros.,158411483,4366,4366,...,185000000,533345358.0,4.695460e+08,6.260806e+08,Legendary Pictures,PG-13,Christian Bale,1.0,Christopher Nolan,Director
4,20100,The Dark Knight,Dark Knight The,2008,152.0,1.0,Warner Bros.,158411483,4366,4366,...,185000000,533345358.0,4.695460e+08,6.260806e+08,Warner Bros.,PG-13,Christian Bale,1.0,Christopher Nolan,Director

In [153]:
import csv

In [154]:
df_Summary_4.to_csv('mainTable.csv', header = True)